:root {
  --background-color-dark: #722631;
  --background-color-medium: rgba(167,77,96,0.6);
  --background-color-light: #dddddd;
  --color-for-dark: #aaaaaa;
  --color-for-medium: rgba(167,77,96,0.9);
}

* {
  box-sizing: border-box;
  border: 1px solid black;
}

#body-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color-light);
}

.instructions {
  width: 70%;
  font-weight: 500;
  font-size: 20px;
  color: var(--background-color-dark);
}

#editor-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#editor {
  background-color: var(--background-color-medium);
}

#preview-div {
  width: 70%;
}

.div-title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  background-color: var(--background-color-dark);
  color: var(--color-for-dark);
}

#preview {
  border: 2px solid black;
  padding: 5px;
  background-color: var(--background-color-medium);
}

