:root {
  --background-color-dark: #722631;
  --background-color-medium: rgba(167,77,96,0.6);
  --background-color-light: #dddddd;
  --color-for-dark: #aaaaaa;
  --color-for-medium: rgba(167,77,96,0.9);
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--background-color-light);
}

#body-div, 
#editor-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructions {
  width: 80%;
  padding: 5px;
  border: 2px solid;
  font-weight: 500;
  font-size: 20px;
  color: var(--background-color-dark);
}

#editor,
#preview {
  background-color: var(--background-color-medium);
  border: 2px solid var(--background-color-dark);
  padding: 5px;
}

#preview-div {
  width: 80%;
  margin: 20px;
}

.div-title {
  width: 100%;
  padding: 3px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  background-color: var(--background-color-dark);
  color: var(--color-for-dark);
}


